body {
    background: linear-gradient(135deg, #A8E6CE, #DCEDC1, #FFD3B5);
}

.navbar {
    padding: 0;
    overflow: hidden;
    padding-bottom: 8em;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

.container-fluid {
    padding: 0;
    background: #0F2027;
    background: linear-gradient(135deg, #B9FBC0, #A0E7E5, #F6E58D);

    height: 60px;
    display: flex;
    text-align: center
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

#mainlogo {
    position: relative;
    top: -60px;
    right: 15px;
}

.nav-links {
    display: flex;
    align-items: center;
    color: aliceblue;
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: aliceblue;
    padding: 0;

}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 8px 8px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 45x;
}

.gap1 {
    display: flex;
    gap: 800px;
}

.gap2 {
    gap: 20px;
}

.recentTransactions {
    display: flex;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
}

.dac {
    width: 100%;
    border-radius: 15px;
    background-color: #333;
}

.pichart {
    display: flex;
    width: 100%;
    height: 230px;
}

footer {
    height: 40px;
    background: #333;
    display: flex;
    justify-content: center;
}

.footer {
    font-weight: 300;
    font-size: medium;
}