body {
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    margin: 10px;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-fluid {
    padding: 0;
    background: #0F2027;
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    height: 60px;
    display: flex;
    text-align: center
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

#mainlogo {
    position: relative;
    top: -60px;
    right: 15px;
}

.nav-links {
    display: flex;
    align-items: center;
    color: aliceblue;
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: aliceblue;
    padding: 0;
    margin: 10px;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 8px 8px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    border: 2px solid #fff;
}

.gap1 {
    display: flex;
    gap: 800px;
}

.gap2 {
    gap: 20px;
}

/* Media queries for different screen sizes */
@media (max-width: 768px) {
    .nav {
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.section-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 10%;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    margin-top: 150px;
    box-sizing: border-box;
}

.description h1 {
    color: antiquewhite;
}

.description p {
    font-size: 1.2rem;
    color: #fff;
}

.sign-up {
    background-color: antiquewhite;
    width: 150px;
    height: 50px;
}


.image {
    margin-top: 150px;
}

.image img {
    height: 400px;
}

.under-h1 {
    background-color: white;
    width: 50px;
    height: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}